body {display: flex;min-height: 100vh;flex-direction: column;}
main {flex: 1 0 auto;}
.site-header-image {display: block;margin: auto;}
.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}
.bypostauthor {}
.alignleft {float: left;}
.alignright {float: right;}
.aligncenter {clear: both;display: block;}
img, .size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {max-width: 100%;height: auto;}
.author-bio .avatar {border: 1px solid #dee2e6;border-radius: 50%;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
textarea:focus::-webkit-input-placeholder {color: transparent;}
textarea:focus:-moz-placeholder {color: transparent;}
textarea:focus::-moz-placeholder {color: transparent;}
#comments, #reply-title {margin-top: 1.5rem;margin-bottom: 1rem;}
.commentlist, .commentlist ul {padding-left: 0;}
.commentlist li {padding: 1rem;}
.comment-meta {margin-bottom: 1rem;}
.comment > .children {margin-top: 1rem;margin-right: -.625rem;margin-bottom: -1.625rem;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: #444 !important;}
h1, .h1 {font-weight: 700;}
h4, .h4 {font-weight: normal;}
.bg-light {background-color: #eee !important;}
.jumbotron, .jumbotron a, .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5 {color: #fff !important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {color: #333 !important;}
.nav-tabs .nav-link {border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;margin-left: 5px;color: #fff !important;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .dropdown-toggle.nav-link:focus, .nav-tabs .dropdown-toggle.nav-link:hover {border-color: #333 !important;border-bottom: 0px;background-color: #333 !important;color: #fff !important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {border-color: #fff !important;}
.nav-tabs .nav-item.show .dropdown-toggle.nav-link {border-color: #333 !important;}
.nav-tabs .active .nav-link {background-color: #fff !important;color: #333 !important;}
ul.dropdown-menu .dropdown-item {color: #333 !important;}
.nav-tabs {border-bottom: none;}
.nav-link {display: block;padding: .2rem .8rem !important;}
.jumbotron {border-radius: 0px !important;min-height: 200px;}
.sidebar {font-size: .75rem;}
.sidebar ul li {list-style: none !important;}
.sidebar ul, .sidebar ol {padding: 1px 0;}
@media (min-width: 576px) {.sidebar .form-inline .form-control {width: 100% !important;}}